body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 193, 179);
}
.box{
    border:5px solid black;
    padding: 20px;
    width:275px;
    height: 400px;
    background-color: aqua;
    transition: transform 0.3 ease-in-out;
}
.box:hover{
    transform:scale(1.2);
}